
@{
    ViewBag.Title = "Detail";
}

<p>
    <h2>
        Principis Capital
    </h2> is the actual funding source for thousands of small businesses in the United States and Canada. We pride ourselves on being able to offer small business owners the financing they need to expand or strengthen their businesses. You can receive funds for your business within a week by obtaining either a total deposit advance or a credit card advance – two great alternatives to traditional small business loans or equity investments.
        Our years of experience have provided us with a deep understanding of small businesses. Whether you’re a local Mom-and-Pop outlet, a one-person service provider, or a large multi-location chain, we have a program to suit your needs.
    
    Principis Capital understands that small businesses often have special situations. We have tailored our products to address challenges faced by

    Seasonal businesses: We can help you get through your low season.
    Credit issues (e.g. past foreclosures, bankruptcies): We look at the big picture and can often work around these issues.
    Businesses without collateral: our business loan alternatives can work for you, even if you don’t own your own real estate or have inventory to put up as collateral.

    <h2>
        What’s a Business Cash Advance?
    </h2>
    Our business cash advances convert your future credit and debit receipts into immediate cash. Repayments are based on a fixed percentage of these future receipts rather than a fixed monthly payment. Our advances are cash flow-friendly, so we don’t get paid until you get paid!
</p>  

